/* Color Variables */
$color-bg-card:#f7f9fa;
$color-bg-main: #ffffff;
$color-border: #e4e8ed;
$color-btn-active: #08778e;
$color-btn-blue: #0ba0be;
$color-btn-hover: #0f8da7;
$color-btn-inactive: #0ba0be;
$color-error: #fd5f75;
$color-footer-links: #7e8f9f;
$color-footer-title: #ffffff;
$color-success: #1bb99d;
$color-txt-font: #7e8f9f;
$color-txt-links: #0ba0be;
$color-txt-title: #1b1b1b;