.contact-grid {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-radius: 4px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 0 1em 80px;

  .grid-item {
    display: grid;
    background-color: $color-bg-card;
    padding: 1.5em;
    margin: 0 0 1em 0;
    .grid-item-content {
      display: block;
    }
  }

  .hummingbird {
    background: white;
    padding: 0;
    figure {
      display: block;
      margin: 0 auto;
      img {
        width: 200px;
      }
    }
  }

  .contact-us {
    form {
      float: left;
      margin-top: 1em;
      .form-row {
        float: left;
        margin-bottom: 1.5em;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        label, input, textarea, select, button {
          float: left;
          width: 100%;
        }
        label {
          @include Graphik-Medium();
          color: $color-txt-title;
          line-height: 1.5;
          margin-bottom: 8px; 
        }
      }
    }
  }
}