#header {
  display: flex;
  margin: 0 auto;
  max-width: 1141px;
  justify-content: space-between;

  .groove-logo {
    display: flex;
    flex: 0 1 200px;
    background: gray;
  }

  #main-nav {
    display: flex;
    flex: 0 1 380px;
    ul {
      text-align: center;
      li {
        display: inline;
        list-style: none;
      }
    }
  }

  #login-nav {
    display: flex;
    flex: 0 1 200px;
  }
}