#header {
  display: flex;
  margin: 0 auto;
  max-width: 1141px;
  justify-content: space-between;
  padding: 0 1em;

  .groove-logo {
    display: flex;
    flex: 0 0 106px;
    margin: 0 0 42px 0;
  }

  #main-nav {
    display: none;
    /* display: flex;
    flex: 0 1 380px;
    ul {
      text-align: center;
      li {
        display: inline;
        list-style: none;
      }
    } */
  }

  #login-nav {
    display: none;
    /* display: flex;
    flex: 0 1 200px; */
  }
}