html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $color-bg-card;
  color: $color-txt-font;
  font-size: 16px;
  @include Graphik-Regular();
  margin: 0;
  min-height: 100vh;
  position: relative;
  padding-top: 1em;
  ::-moz-selection { 
    background: $color-btn-blue;
    color: white; 
  }
  ::selection { 
    background: $color-btn-blue;
    color: white;
  }

  @media screen and(min-width: 768px){
    background-color: white;
    background-image: 
      url('../../img/mask-copy.png'),
      url('../../img/mask-copy.svg');
    background-position: 
      center top,
      center top;
    background-repeat: 
      no-repeat,
      repeat-x;
    background-size: 
      1500px auto,
      1500px auto;
  }
}

h1 {
  width: 343px;
  height: 45px;
  font-size: 38px;
  @include Walsheim-Bold();
  line-height: 1.18;
  letter-spacing: normal;
  color: $color-txt-title;
}

h2 {
  @include Walsheim-Bold;
  font-size: 1.375em;
  line-height: 1.18;
  letter-spacing: normal;
  color: $color-txt-title;
  margin: 0 0 8px 0;

  @media screen and(min-width: 1024px) {
    font-size: 1.625em;
  }
}

h3 {
  font-size: 1.25em;
  margin: 0 0 8px 0;
}

p {
  font-size: 1em;
  margin: 0 0 1em 0;
}

a {
  color: $color-btn-blue;
  text-decoration: none;
  &:hover {
    color: $color-btn-hover;
    text-decoration: underline;
  }
  &:active {
    color: $color-btn-active;
    text-decoration: underline;
  }
  &:focus {
    color: $color-btn-active;
    text-decoration: underline;
  }
}

.btn,
button {
  cursor: pointer;
  float: left;
  min-height: 40px;
  border-radius: 4px;
  background-color: $color-btn-blue;
  border: 1px solid $color-btn-blue;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: background 0.25s ease-in-out;
  @include Walsheim-Regular;
  line-height: 1.6;
  font-size: 14px;

  &:hover {
    background: $color-btn-hover;
    border: 1px solid $color-btn-hover;
    color: white;
    text-decoration: none;
  }

  &:active {
    background: $color-btn-active;
    border: 1px solid $color-btn-active;
    color: white;
    text-decoration: none;
  }

  &:visited,
  &:link {
    color: white;
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-light {
    background: white;
    border: 1px solid $color-btn-blue;
    color: $color-btn-blue;

    &:hover {
      border-color: $color-btn-hover;
      color: $color-btn-hover;
      text-decoration: none;
    }

    &:active, &:focus {
      background: $color-btn-active;
      color: white;
      text-decoration: none;
    }
  }
}

button {
  border: 1px solid #0f8da7;
  padding: calc(1em - 0.5px);
}

input, textarea, select {
  border-radius: 4px;
  border: solid 1px $color-border;
  background-color:white;
  padding: 0.85em 1em;
  @include Graphik-Regular();
  font-size: 1em;
  color: $color-txt-title;
  &:focus {
    border-color: $color-btn-blue;
    color: $color-txt-title;
    outline: none;
    &::placeholder {
      opacity: 1;
    }
  }
}

::placeholder {
  color: $color-txt-font;
  opacity: 0.6;
}

select {
  color: $color-txt-font;
  opacity: 0.6;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-container {
  @include Graphik-Regular();
  background-color:white;
  border-radius: 4px;
  border: solid 1px $color-border;
  color: $color-txt-title;
  float: left;
  position: relative;
  width: 100%;
  select {
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
  }
  &:after {
    border-bottom: 2px solid $color-txt-font;
    border-left: 2px solid $color-txt-font;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 18px;
    transform: rotate(-45deg);
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    width: 8px;
    z-index: 0;
  }
}

.arrow {
  &:after {
    border-bottom: 2px solid $color-txt-font;
    border-left: 2px solid $color-txt-font;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 12px;
    transform: rotate(-45deg);
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    width: 8px;
    z-index: 0;
  }
}